body {
    background-image: url(../images/abstract-doodle-blue-flower-pattern-background_80399-13.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 10px;
}

#content {
    border: 0.05em lightgrey solid;
    margin-top: 1em;
    background-color: gray;
}

header {
    background-color: rgba(119, 90, 90, 0.6);
}

.container {
    display: flex;
    justify-content: space-evenly;
    padding-left: 2em;
    background-color: gray;
    padding: 1em;
    height: 2em;
}

section {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 5px 30px;
}

article {
    font-size: 15px;
    text-align: justfy;
    line-height: 25px;
}

.title {
    font-size: 23px;
    font-weight: bold;
}

.date {
    font-style: italic;
    font-size: 15px;
    text-transform: uppercase;
}

header nav a {
    text-decoration: none;
    color: black;
}

header nav a:hover {
    color: purple;
    background-color: skyblue;
}

#option a:hover {
    color: purple;
    background-color: gray;
}