body {
    background-image: url(../images/abstract-doodle-blue-flower-pattern-background_80399-13.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 10px;
}

.container {
    display: flex;
    justify-content: space-evenly;
    padding-left: 2em;
    background-color: gray;
    padding: 1em;
    height: 2em;
}

header nav a {
    text-decoration: none;
    color: black;
}

header nav a:hover {
    color: purple;
    background-color: skyblue;
}

section {
    display: flex;
    justify-content: space-evenly;
    padding-top: 2em;
    border-bottom: 0.01em solid black;
    border-top: 0.01em solid black;
    margin-top: 1em;
    background-color: gray;
}

img {
    width: 14.75em;
    height: 14.75em;
}

#content {
    padding-left: 2em;
}

p {
    align-items: center;
}

#footer {
    padding-top: 0.8em;
    padding-bottom: 0.8em;
}